.homepage_video {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.wrapper_video {
  width: 100%;
  height: 100vh;
}

.wrapper_video .video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-overlay {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0.8;
}

.top-10px {
  top: 10px;
}

.fw-bold-100 {
  font-weight: 100;
}

.fw-bold-200 {
  font-weight: 200;
}

.fw-bold-300 {
  font-weight: 300;
}

.fw-bold-400 {
  font-weight: 400;
}

.fw-bold-600 {
  font-weight: 600;
}

.fw-bold-500 {
  font-weight: 500;
}

.fw-bold-700 {
  font-weight: 700;
}

.fw-bold-800 {
  font-weight: 800;
}

.fw-bold-900 {
  font-weight: 900;
}

.w-95 {
  width: 95%;
}

.w-60 {
  width: 60%;
}

.top-10 {
  top: 10%;
}

.top-20 {
  top: 20%;
}

.top-25 {
  top: 25%;
}

.top-50 {
  top: 50%;
}

.top-40 {
  top: 40%;
}

.top-60 {
  top: 60%;
}

.fs-60 {
  font-size: 60px;
}

.fs-42 {
  font-size: 42px !important;
}

.fs-35 {
  font-size: 35px;
}

.fs-32 {
  font-size: 32px;
}

.fs-26 {
  font-size: 26px !important;
}

.fs-20 {
  font-size: 20px;
}

.fs-18 {
  font-size: 18px !important;
}

.fs-16 {
  font-size: 16px;
}

.fs-14 {
  font-size: 14px;
}

.fs-13 {
  font-size: 13px;
}

.fs-12 {
  font-size: 12px;
}

.bg-grey {
  background: #1dad8f;
}

.bg-marron {
  background-color: #333333;
}

.rounded-1 {
  border-radius: 0.5rem;
}

.bottom-1 {
  bottom: 1px;
}

.w-10 {
  width: 10%;
}

.w-75 {
  width: 75%;
}

.w-80 {
  width: 80%;
}

.w-85{
  width: 85%;
}

.w-88{
  width:88%;
}

.w-83{
  width: 83%;
}

.w-90 {
  width: 90%;
}

.w-98 {
  width: 98%;
}

.w-99 {
  width: 99%;
}

.bg {
  background-color: #f9f9f9;
}

.fs-15rem {
  font-size: 1.5rem;
}

.h-50px {
  height: 50px !important;
}

[type="reset"],
[type="submit"],
button,
html [type="button"] {
  border: none !important;
}

.pt-8 {
  padding-top: 5rem;
}

.pb-8 {
  padding-bottom: 5rem;
}

.bg-black {
  background-color: rgba(0, 0, 0, 0.87);
}

.w-50px {
  width: 50px;
}

.ceo-img-section {
  background: linear-gradient(90deg, #000000 0.66%, #412881 100%);
}

.mt-15px{
  margin-top: 15rem;
}

.glance_styles {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 50px;
  color: #000000;
}

.glances_position {
  position: absolute;
  top: 50%;
}

.gload-title{
  height: 100%;
  width:100%;
}


.client-img {
  background: linear-gradient(180deg, #eaeaea 0%, #f7f7f7 100%);
}


.hr-grey-line{
  border:1px solid #c9c9c9;
}

.ceo-image-style{
  border-radius:360px;
  height:130px;
  width:130px;
  align-items:center;
  display: flex;
  justify-content: center;
}

.lets-connect{
  border-radius:4px!important;
  padding:10px 15px;

}