/* NAVIGATION BAR */
/* ............................................................................................................................ */
.navigation-bar {
  position: fixed;
  background-color: #0c0c0c;
  width: 100%;
  height: 125px;
  vertical-align: middle;
  z-index: 99;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
}

.navbar {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0.5rem 0rem !important;
}

.navbar-nav .active a {
  color: #9de0d2;
}

.navbar-brand {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.8225rem !important;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
  margin-left: 100px;
}

.navbar-nav {
  margin-right: 100px;
  margin-left: auto;
}

/* NAVBAR TEST SECTION */

.navbar-nav .active a {
  color: #9de0d2 !important;
}

.navbar-brand .logo {
  width: 244px;
  height: 54px;
}

.navbar-nav .menu {
  padding: 0px 20px;
}

.navbar__link--active {
  color: red;
}

.custom-toggler {
  background-color: transparent;
}

.custom-toggler .navbar-toggler-icon {
  width: 25px;
  height: 3px;
  background-color: white;
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}

.custom-toggler.navbar-toggler {
  border-color: none;
}

.navbar-nav .contactus-button {
  text-decoration: "none";
  color: white;
  font-size: 1.5rem;
  font-weight: 800;
  padding: 10px 10px;
  margin-top: 15px;
  background-color: #fd5d14;
  transition: 0.5s;
  border-radius: 4px;
  text-align: center;
  height: 45px;
  width: 120px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.navbar-nav .contactus-button:hover {
  background-color: white;
  color: black;
  text-decoration: none;
}

/* FOR STICKY NAVBAR */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* SUB-SERVICE-DROPDOWN */
.sub-service-dropdown .dropdown-menu {
  padding: 15px;
}

.sub-service-dropdown-item {
  font-size: 1.5rem;
  font-weight: 400px;
  color: white;
  padding: 10px 0px !important;
  text-align: left !important;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: center;
  list-style: none;
  background-color: #19af8e1a !important;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  width: 100%;
  margin-top: 30px;
  left: 0;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.fa-angle-right {
  font-size: 2.1rem !important;
}

.dropdown-content .nav-first-column {
  margin-left: 140px;
}

.dropdown-view-all-link {
  margin-top: -5px;
}

.dropdown-view-all-link a {
  color: #19af8f !important;
  font-weight: 800 !important;
  padding-bottom: 5px;
  text-decoration: underline !important;
}

.dropdownd-ai-viewall-link a {
  color: #fd5d14 !important;
}

.column .sub-service-links {
  display: block;
  margin-block-start: 0em !important;
  margin-block-end: 0em !important;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.dropdown-icon {
  display: none;
}

.dropdown-content .header {
  background: red;
  padding: 16px;
  color: white;
}

.service-dropdown-menu:hover {
  transition: 2s;
}

.service-dropdown-menu:hover .dropdown-content {
  display: block;
  transition: 2s;
}

.sub-menu {
  display: flex;
  justify-content: center;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 21%;
  padding: 25px 10px;
  background-color: white;
  height: auto;
}

.extra-column {
  float: left;
  width: 25%;
  padding: 25px 10px;
  background-color: white;
  height: auto;
}

.service-dropdown-link a {
  float: none;
  color: black;
  padding-top: 7px;
  font-size: 1.7rem;
  text-decoration: none;
  display: block;
  text-align: left;
  font-weight: 800;
}

.column a:hover {
  color: #19af8f !important;
  text-decoration: none;
}

.dropdown-content p {
  font-size: 1.3rem;

  padding-right: 15px;
  text-align: left;
  color: black;
}

.sub-service-links a {
  font-size: 1.3rem;
  font-weight: 400;
  padding-right: 15px;
  padding-top: 5px;
  text-align: left;
  color: black;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.sub-service-dropdown {
  display: none;
}

.navFlex:hover img {
  transform: scale(1.1);
  transition: 0.5s;
}

/* INDUSTRY NAVBAR DROPDOWN */

.industry-dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  width: 100%;
  margin-top: 30px;
  left: 0;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* .industry-dropdown-content {
    display: none;
    background-color: white !important;
    left: 0;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 15px;
    margin-top: 4px;
    border-radius: 0px 0px 8px 8px;
  } */

.industry-dropdown-content .industry-dropdown-list {
  font-size: 1.5rem;
  font-weight: 400px;
  color: black;
  font-weight: 600;
  padding: 10px 0px !important;
  text-align: left !important;
}

.industry-dropdown-item {
  font-size: 1.5rem;
  font-weight: 400px;
  color: white;
}

@media screen and (max-width: 991px) {
}

/* NAVBAR RESPONSIVE SECTION */

@media screen and (max-width: 830px) {
  .column {
    width: 100%;
    height: auto;
  }

  .sub-menu:hover .dropdown-content {
    display: none;
  }

  .dropdown-icon {
    display: block;
  }

  .sub-service-dropdown {
    display: block;
  }

  .service-dropdown-menu {
    display: none;
  }

  .navbar-nav .service-dd {
    display: block;
  }
}

.dropdown-item.active,
.dropdown-item:active {
  color: #19af8f;
  text-decoration: none;
  background-color: transparent !important;
}

.dropdown-item:focus,
.dropdown-item:hover {
  color: #19af8f !important;
  text-decoration: none;
  background-color: transparent !important;
}

.service-dropdown-menu:hover {
  border-bottom: 5px solid #19af8f;
  transition: 0.5s;
}

.navFlex img {
  width: 50px;
  height: 50px;
  margin-left: 10px;
}

.navFlex {
  display: flex;
  margin-top: 10px;
}

.nav-sub-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  margin-right: -15px;
  margin-left: -15px;
}

.dropdown-toggle::after {
  display: none !important;
  width: 0;
  height: 0;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}

.service-dd {
  display: none;
}

@media only screen and (min-width: 320px) and (max-width: 374px) {
  nav.navbar {
    max-height: 100vh;
    overflow: auto;
  }

  .navbar-nav {
    margin-right: 0px;
  }

  .navbar-brand {
    margin-left: 21px;
  }

  .navbar-toggler {
    margin-right: 21px;
  }

  .navigation-bar {
    height: 130px;
  }

  .navbar-toggler {
    padding: 0.55rem 0.75rem 1.15rem !important;
  }

  .navbar-brand .logo {
    width: 175px;
    height: 40px;
    margin-top: 10px;
  }

  .navigation-bar {
    text-align: left;
  }

  .navbar-collapse {
    background-color: #0c0c0c;
    padding: 5px;
    z-index: 1;
  }
}

/* FOR SMALLER DEVICES 375PX */
/* ...................................................................................................................... */

@media only screen and (min-width: 375px) and (max-width: 767px) {
  nav.navbar {
    max-height: 100vh;
    overflow: auto;
  }

  .navbar-nav {
    margin-right: 0px;
    margin-left: 10px;
  }

  .navbar-brand {
    margin-left: 21px;
  }

  .navbar-toggler {
    margin-right: 21px;
  }

  .navigation-bar {
    height: 130px;
  }

  .navbar-toggler {
    padding: 0.55rem 0.75rem 1.15rem !important;
  }

  .navbar-brand .logo {
    width: 175px;
    height: 40px;
    margin-top: 10px;
  }

  .navigation-bar {
    text-align: left;
  }

  .navbar-collapse {
    background-color: #0c0c0c;
    padding: 5px;
    z-index: 1;
  }
}

/* FOR MEDIUM DEVICES 834PX */
/* ...................................................................................................................... */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  nav.navbar {
    max-height: 100vh;
    overflow: auto;
  }

  .navigation-bar {
    height: 130px;
  }

  .navbar-toggler {
    padding: 0.25rem 0.75rem 1.15rem !important;
  }

  .navbar-brand .logo {
    margin-top: 5px;
  }

  .navbar-brand {
    margin-left: 40px;
  }

  .navbar-nav {
    margin-right: 70px;
    margin-left: 30px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .navbar-toggler {
    margin-right: 81px;
  }

  .navbar-brand .logo {
    width: 200px;
    height: 45px;
  }

  .navbar-collapse {
    background-color: #0c0c0c;
    padding: 5px;
    z-index: 1;
  }

  /* DROPDOWN MENU */

  .dropdown-content .nav-first-column {
    margin-left: 81px !important;
  }

  .dropdown-content .extra-column {
    margin-left: 81px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1024px) {
  .navbar-collapse {
    background-color: transparent;
  }
}

@media only screen and (min-width: 320px) and (max-width: 424px) {
  .navbar-brand {
    margin-left: 20px;
  }

  .navbar-nav {
    margin-right: 20px;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1439px) {
  .navbar-brand {
    margin-left: 60px;
  }

  .navbar-nav {
    margin-right: 60px;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1359px) {
  .dropdown-content .column {
    float: left;
    width: 27%;
    padding: 5px 10px;
    background-color: white;
    height: auto;
    border-radius: 20px 0px;
  }

  .service-dropdown-link a {
    padding-top: 2px;
  }

  .navFlex img {
    width: 40px !important;
    height: 40px !important;
  }

  .service-dropdown-link a {
    font-size: 1.5rem !important;
  }

  .sub-service-links a {
    font-size: 1.2rem !important;
  }

  .dropdown-content .nav-first-column {
    margin-left: 81px !important;
  }

  .extra-column .navFlex {
    margin-top: 0px;
  }

  .dropdown-content .extra-column {
    float: left;
    width: 25%;
    padding: 0px 10px;
    background-color: white;
    height: auto;
    border-radius: 0px 20px;
    margin-left: 81px;
  }
}

@media only screen and (min-width: 1360px) and (max-width: 1439px) {
  .dropdown-content .nav-first-column {
    margin-left: 140px !important;
  }

  .dropdown-content .extra-column {
    float: left;
    width: 25%;
    padding: 21px 10px;
    background-color: white;
    height: auto;
    border-radius: 0px 20px;
  }
}

/* resources styles */

.margin-resources-top {
  padding-top: 100px;
}
.bg-color-black {
  background-color: #000000;
}
.small_banner {
  background-color: #3c3cdf;
  cursor: pointer;
  width: 100%;
  text-align: center;
}
